name: build-release-linux

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            patchelf

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build linux executable
        run: |
          pyinstaller --onefile --name revart_scoreboard_decoder_linux revart_timing_decoder_gui.py

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/revart_scoreboard_decoder
